@import '../../assets/css/partials/mixins';

.main-page {
	padding-top: 6rem;
	.section-one {
		margin-bottom: 5rem;
		h5 {
			font-weight: 500;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #2f80ed;
			line-height: 24px;

			@include screen(small) {
				font-size: 14px;
				line-height: 0;
			}
		}

		h2 {
			margin-top: 0;
			font-size: 38px;
			line-height: 60px;
			font-weight: 600;

			@include screen(small) {
				font-size: 25px;
			}
		}
		.side-one-note {
			font-size: 24px;
			font-weight: 300;
			margin-bottom: 32px;
			line-height: 36px;
			color: #6984a3;

			@include screen(small) {
				font-size: 14px;
				line-height: 30px;
				width: 70%;
			}
		}

		h6 {
			color: #6984a3;
			margin-top: 3rem;
			font-weight: 300;
			line-height: 21px;

			.action-link {
				display: inline-block;
				padding-top: 4px;
				padding-bottom: 6px;
				border-bottom: 2px solid #006dff;
				-webkit-transition: color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
				transition: color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
				color: #6984a3;
			}
		}

		img {
			max-width: 135% !important;
			margin-top: -3rem;

			@include screen(small) {
				max-width: 100% !important;
			}
		}
	}
	.section-two {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 16px;
		padding-bottom: 16px;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		background-color: #2f80ed;
		background-image: -webkit-gradient(linear, right top, left top, from(#2f80ed), to(#006dff));
		background-image: linear-gradient(1350deg, #2f80ed, #006dff);

		h4 {
			color: #fff;
			font-weight: 400;
			font-size: 20px;

			@include screen(small) {
				font-size: 13px;
			}
		}
		.supply-button {
			margin-left: 32px;
			padding: 16px 32px;
			-webkit-box-flex: 0;
			flex: 0 auto;
			border-style: solid;
			border-width: 2px;
			border-color: #fff #f6f9fd #fff #fff;
			border-radius: 4px;
			background-color: transparent;
			-webkit-transition: color 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955),
				background-color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
			transition: color 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955),
				background-color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
			color: #f6f9fd;
			font-weight: 600;
			text-align: center;
			letter-spacing: 0.5px;
		}
	}
	.section-three {
		.partners-section {
			display: flex;
			height: 120px;
			padding-top: 16px;
			padding-bottom: 16px;
			padding: 1rem;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			background-color: rgba(47, 128, 237, 0.05);

			h5 {
				line-height: 24px;
				color: #a5b9d0;
				text-transform: uppercase;
				margin-top: 8px;
				margin-bottom: 8px;
				font-weight: 600;
				letter-spacing: 1px;
				text-transform: uppercase;
				font-size: 16px;
			}

			img {
				height: 24px;
				-webkit-filter: invert(50%);
				filter: invert(50%);
				margin-left: 16px;
				opacity: 0.75;
				-webkit-transition: opacity 0.2s ease-in-out, color 0.1s ease-in-out;
				transition: opacity 0.2s ease-in-out, color 0.1s ease-in-out;
			}
		}

		.dashed-equipments {
			background-color: rgba(47, 128, 237, 0.05);
			text-align: center;
			padding: 5rem;

			@include screen(small) {
				padding: 1rem;
			}

			h2 {
				font-size: 40px;
				font-weight: 700;
				line-height: 60px;
				margin-bottom: 3rem;

				@include screen(small) {
					line-height: 38px;
					font-size: 21px;
					margin-bottom: 2rem;
				}
			}

			h4 {
				color: #6984a3;
				font-weight: 300;
				line-height: 36px;
				font-size: 24px;
				letter-spacing: 1px;

				@include screen(small) {
					line-height: 28px;
					font-size: 15px;
					letter-spacing: 0px;
				}
			}
			.equipment-types {
				display: flex;
				justify-content: center;
				margin-top: 3rem;
				margin-bottom: 2rem;
				.equipment {
					padding: 2rem;
					img {
						width: 56px;
						height: 56px;
					}

					@include screen(small) {
						padding: 0;
						width: 25%;
					}
				}

				@include screen(small) {
					display: flex;
					flex-wrap: wrap;
				}
			}
			.coming-soon-equipments {
				button {
					padding: 16px 32px;
					background-color: #eaf2fd;
					font-size: 20px;
					line-height: 30px;
					color: #2f80ed;
					font-weight: 600;
				}
			}
		}

		.how-it-works {
			h4 {
				text-align: center;
				color: #2f80ed;
				font-size: 27px;
				font-weight: 700;
				margin-top: 7rem;

				@include screen(small) {
					font-size: 18px;
					margin-top: 4rem;
				}
			}

			.step {
				display: flex;
				justify-content: center;
				margin-top: 80px;

				-webkit-box-pack: center;
				-webkit-justify-content: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-box-flex: 1;
				-webkit-flex: 1;
				-ms-flex: 1;
				flex: 1;

				flex-wrap: wrap;
				flex-direction: column;
				padding-left: 15rem;

				@include screen(small) {
					padding: 3rem;
					margin-top: 0 !important;
				}

				h6 {
					text-transform: uppercase;
					color: #2f80ed;
					margin-top: 8px;
					margin-bottom: 8px;

					@include screen(small) {
						font-size: 14px;
					}
				}

				.sides {
					display: flex;
				}

				.side-left {
					width: 27%;
					margin-right: 5%;

					@include screen(small) {
						width: 100%;
						// padding: 1.5rem;
					}

					.main-text {
						font-weight: 700;
						text-align: left;
						margin-bottom: 32px;
						font-size: 40px;
						line-height: 60px;

						@include screen(small) {
							font-size: 23px;
							width: 64%;
							line-height: 34px;
						}
					}

					.sub-text {
						margin-bottom: 32px;
						color: #6984a3;
						font-size: 24px;
						line-height: 36px;
						font-weight: 300;

						@include screen(small) {
							font-size: 15px;
							width: 80%;
							line-height: 27px;
						}
					}
				}

				.side-right {
					img {
						width: 70%;
					}

					@include screen(small) {
						display: none;
					}
				}
			}

			button {
				margin-top: 5rem;
				margin-bottom: 3rem;

				@include screen(small) {
					margin-top: 0 !important;
				}
			}
		}

		.about-us-card {
			max-width: 55%;
			position: relative;
			left: 23%;

			display: flex;
			margin-top: 80px;
			margin-bottom: 80px;
			padding: 40px;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-align: start;
			-webkit-align-items: flex-start;
			-ms-flex-align: start;
			align-items: flex-start;
			border-radius: 16px;
			background-color: rgba(47, 128, 237, 0.1);

			@include screen(small) {
				max-width: 100% !important;
				left: 0 !important;
			}

			.subtitle {
				color: #2f80ed;
				letter-spacing: 1px;
				text-transform: uppercase;
				margin-top: 8px;
				margin-bottom: 8px;

				@include screen(small) {
					font-size: 14px;
				}
			}
			.big-text {
				h2 {
					text-align: left;
					font-weight: 700;
					font-size: 40px;
					line-height: 60px;
					margin-bottom: 32px;

					@include screen(small) {
						font-size: 22px;
						line-height: 38px;
						margin-bottom: 28px;
					}
				}
			}

			a {
				color: #007bff;
				transition: color 0.1s ease-in-out;
				text-decoration: none;
			}

			@include screen(small) {
				max-width: 80%;
				left: 11%;
			}
		}

		.get-involved-section {
			text-align: center;
			background-color: rgba(47, 128, 237, 0.05);
			margin-top: 7rem;
			margin-bottom: 7rem;
			padding: 3rem;

			@include screen(small) {
				margin-top: 6rem;
			}

			h3 {
				color: #2f80ed;
				font-weight: 700;
				font-size: 32px;
				line-height: 48px;
				margin-bottom: 25px;

				@include screen(small) {
					font-size: 22px;
					margin-bottom: 20px;
				}
			}
			h4 {
				margin-bottom: 32px;
				color: #6984a3;
				font-size: 24px;
				line-height: 36px;
				font-weight: 200;

				@include screen(small) {
					font-size: 15px;
					line-height: 30px;
				}
			}
			.subscribe {
				.input-group {
					width: 35%;
					margin: 1em auto;

					@include screen(small) {
						width: 70%;
					}

					input {
						height: 56px;
						margin-bottom: 0;
						padding: 8px 16px;
						border-top: 2px solid #2f80ed;
						border-bottom: 2px solid #2f80ed;
						border-left: 2px solid #2f80ed;
						border-radius: 4px 0 0 4px;
						background-color: transparent;
						font-size: 13px;

						&:focus {
							box-shadow: none;
						}
					}

					button {
						height: 56px;
						padding: 8px 16px;
						border-top-right-radius: 4px;
						border-bottom-right-radius: 4px;
						background-color: #2f80ed;
						-webkit-transition: background-color 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
						transition: background-color 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
						font-weight: 500;
						color: #fff;
						border: none;

						&:focus {
							box-shadow: none;
						}
					}
				}
			}
			.policy {
				color: #a5b9d0;
				letter-spacing: 0;
				font-weight: 200;
				margin-top: 2rem;

				@include screen(small) {
					font-size: 14px;
				}

				.policy-link {
					border-bottom: 1px solid #006dff;
					transition: color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
					color: #a5b9d0;
					display: inline-block;
					padding-top: 4px;
					padding-bottom: 4px;
					font-weight: 200;

					@include screen(small) {
						font-size: 14px;
					}
				}
			}
		}
		.footer {
			.row {
				align-items: baseline;
			}
			.footer-wrap {
				margin-top: 6rem;
				margin-bottom: 4rem;
				justify-content: center;

				@include screen(small) {
					padding: 1rem;
					margin-top: -2rem !important;
					display: flex;
				}

				.logo {
					img {
						@include screen(small) {
							width: 4rem;
						}
					}
				}

				h5 {
					margin-bottom: 32px;
					color: #6984a3;
					font-weight: 400;
					font-size: 15px;

					@include screen(small) {
						font-size: 12px;
					}
				}

				h6 {
					a {
						color: #6984a3;
						font-weight: 300;
						font-size: 15px;

						@include screen(small) {
							font-size: 11px;
							line-height: 22px;
						}
					}
				}

				.copyright {
					margin-top: 100%;
					margin-bottom: 8px;
					color: #a5b9d0;
					font-size: 14px;
					line-height: 21px;
					font-weight: 400;

					@include screen(small) {
						font-size: 11px;
					}
				}

				.col {
					&.sec-5 {
						@include screen(small) {
							flex-basis: 60px;
						}

						h6 {
							display: flex;
							img {
								width: 14%;
								margin-right: 4px;
								@include screen(small) {
									width: 10px;
									margin-right: 1px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.request-button {
	position: static;
	border: none;
	transition: transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955),
		background-color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53),
		box-shadow 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53),
		-webkit-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	color: #fff;
	font-weight: 600;
	letter-spacing: 0.5px;
	background-color: #ff5a5a;
	position: static;
	padding: 16px 32px;
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
	border-radius: 4px;
	box-shadow: 0 8px 16px 0 rgba(40, 43, 49, 0.1);
	-webkit-transition: background-color 0.2s;

	&:hover {
		box-shadow: 0 12px 16px 4px rgba(40, 43, 49, 0.1);
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
		color: #fff;
		background-color: #ff1b1b;
	}
}
