@import '../../assets/css/partials/mixins';

.main-page-header {
	padding: 1rem;
	align-items: center;
	padding-bottom: 6rem;

	a {
		@include screen(small) {
			font-size: 12px;
		}
	}

	.logo-section {
		.logo-svg {
			width: 7rem;
		}
	}
	.menu-section {
		list-style: none;
		display: flex;
		justify-content: center;

		li {
			display: inline;
			padding: 10px;
		}
	}
	.actions-section {
		display: flex;
		justify-content: flex-end;

		@include screen(small) {
			display: none;
		}

		.request-supply-button {
			margin-right: 8px;
			background-color: #ff5a5a;

			&:hover {
				background-color: #ff1b1b;
				color: #fff;
			}
		}

		.supply-button {
			&hover {
				background-color: #006dff;
				color: #fff;
			}
		}

		.link-button {
			margin-right: 16px;
			margin-left: 16px;
			padding: 8px 0;
			background-color: transparent;
			a {
				color: #282b31;
				font-size: 14px;
			}
		}
	}
}
