@import '../../assets/css/partials/mixins';

.main-page-header {
	padding: 1rem;
	// display: flex;
	// justify-content: space-between;
	align-items: center;

	a {
		color: #282b31;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		&:hover {
			text-decoration: none;
			color: #2f80ed;
		}

		@include screen(small) {
			font-size: 12px;
		}
	}

	.logo-section {
		.logo-svg {
			width: 7rem;
		}
	}
	.menu-section {
		list-style: none;
		display: flex;
		justify-content: center;

		li {
			display: inline;
			padding: 10px;
		}
	}
	.actions-section {
		display: flex;
		justify-content: flex-end;

		@include screen(small) {
			display: none;
		}

		button {
			border: none;
			padding: 8px 16px;
			border-radius: 4px;
			background-color: #2f80ed;
			-webkit-transition: background-color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
			transition: background-color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
			color: #fff;
			font-size: 14px;
			line-height: 21px;
			text-align: center;
			display: inline-block;
			background-color: #3898ec;
			color: #fff;
			border: 0;
			line-height: inherit;
			text-decoration: none;
			cursor: pointer;
			border-radius: 1px;
		}

		.request-button {
			margin-right: 8px;
			background-color: #ff5a5a;

			&:hover {
				background-color: #ff1b1b;
				color: #fff;
			}
		}

		.supply-button {
			&hover {
				background-color: #006dff;
				color: #fff;
			}
		}

		.link-button {
			margin-right: 16px;
			margin-left: 16px;
			padding: 8px 0;
			background-color: transparent;
			a {
				color: #282b31;
				font-size: 14px;
			}
		}
	}
}
